.map {
  min-height: 350px;
  background-color: #dde6d3;

  &--nojs {
    background-image: url("../img/bg-map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      @include absolute-pseudo-element(50%, 50%);
      @include size(27px);
      border-radius: 50%;
      background-color: $sedona-blue;
      border: 5px solid #ffffff;
      transform: translate(-50%,-50%);
    }

    @media #{$retina} {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }

    @media #{$tablet-width} {
      background-image: url("../img/bg-map-tablet@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/bg-map-tablet@2x.jpg");
      }
    }

    @media #{$desktop-width} {
      background-image: url("../img/bg-map-desktop@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/bg-map-desktop@2x.jpg");
      }
    }
  }
}
