.photo {
  padding: 0;
  margin: 0;
}

@media #{$tablet-width} {
  .photo {
    height: 265px;
  }

  .photo img {
    width: 324px;
    height: 265px;
  }

  .photo--fullscreen {
    height: 400px;
  }

  .photo--fullscreen img {
    width: 648px;
    height: 400px;
  }
}

@media #{$desktop-width} {
  .photo {
    height: 186px;
  }

  .photo img {
    width: 400px;
  }

  .photo--fullscreen {
    height: 320px;
  }

  .photo--fullscreen img {
    width: 1200px;
  }
}
